* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
header.primary{
    display:flex;
    align-items: center;
    max-width: 980px;
    margin: auto;
    font-size: 50px;
    text-decoration: underline;
    font-family: 'Pixelify Sans', sans-serif;
    color: aliceblue;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
}
nav{
    display:flex;
    align-items: center;
    max-width: 980px;
    margin: auto;
    padding-top: 1rem;
    transition: all 0.2s ease;
    
}
body{
    background-color:rgb(10, 10, 10);
    font-family: 'IM Fell English SC', serif;
    font-size: 35px;
    background: url("/tumblr_5d37ab2aa782462c7aa092f7bd0d27cb_1690fe1e_1280.gif");
    background-repeat: no-repeat;
    background-size: cover;
  
}
li{
    color:rgb(64, 255, 6);
    text-decoration: underline;
}
a{
    color:rgb(250, 251, 250);
    text-decoration: none;
    font-size: larger;
}
a:hover{
    color:rgb(0, 238, 255); 
}
