html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
  background-image: url("..//img/background\ weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  }
  header.title{
   text-align: center;
   text-decoration: underline;
   
  }
header.section-title{
 text-align: center;
 color:white;
}
header.section2-title{
    text-align: center;
    color: white;
   }

   header.section3-title{
    text-align: center;
    color: white;
   }
   